

.grid-container {
  
}
.grid-item{
 border:4px solid white;
 
 }
.grid-item ,img{
  background-color:#d4d3c9;

  padding: 5px;
  font-size: 15px;
  text-align: center;

}
img{
height:130px;
width:68%;

}
.des{

}
.grid-item:hover {

}
 img:hover{

}

.grid-item:hover + .des{	font-size:3px;
}



#cart-products { width: 90%; }
#cart-items { width: 10%; }
input.cart, button.cart {
  padding: 10px;
  border: 0;
  background: #ff4316;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

#cart-products {
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 10px;
}

@media(max-width:700px){
#cart-products{

  grid-template-columns: auto;
	}
}