

.grid-container {
}
.grid-item{

 }
.grid-item ,img{
  background-color:#d4d3c9;

  padding: 5px;
  font-size: 15px;
  text-align: center;

}
img{
height:200px;
width:68%;

}
.des{

}
.grid-item:hover {

}
 img:hover{

}

.grid-item:hover + .des{	font-size:3px;
}


.p-item{
	margin-left:40px;
}
#cart-hot {  
  display: grid;
}
#cart-items {

  display: grid;
  grid-template-columns: auto;
  }
input.cart, button.cart {
  padding: 10px;
  border: 0;
  background: #ff4316;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

#cart-hot {
  display: grid;
  grid-template-columns: auto auto auto  ;

}

@media(max-width:700px){


#cart-hot {
	width:90%;
  display:grid;
  grid-template-columns:auto;
}
#cart-items{
	width:100%;
	
	
}
}